/*
 * API Gateway Pagamenti
 * Set API REST PagoPA
 *
 * OpenAPI spec version: 1.0
 * Contact: pagamenti.produzione@maggioli.it
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.RichiestaInfoListaFlussiRendicontazioneDto;
import io.swagger.client.model.RispostaInfoListaFlussiRendicontazioneDto;
import io.swagger.client.model.StandardAPIErrorResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class FlussiDiRendicontazioneApi {
    private ApiClient apiClient;

    public FlussiDiRendicontazioneApi() {
        this(Configuration.getDefaultApiClient());
    }

    public FlussiDiRendicontazioneApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for postInfoUsingPOST1
     * @param richiestaInfoListaFlussiRendicontazioneDto richiestaInfoListaFlussiRendicontazioneDto (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call postInfoUsingPOST1Call(RichiestaInfoListaFlussiRendicontazioneDto richiestaInfoListaFlussiRendicontazioneDto, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = richiestaInfoListaFlussiRendicontazioneDto;

        // create path and map variables
        String localVarPath = "/rest/flussiDiRendicontazione/v1/info";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "jwtToken" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call postInfoUsingPOST1ValidateBeforeCall(RichiestaInfoListaFlussiRendicontazioneDto richiestaInfoListaFlussiRendicontazioneDto, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'richiestaInfoListaFlussiRendicontazioneDto' is set
        if (richiestaInfoListaFlussiRendicontazioneDto == null) {
            throw new ApiException("Missing the required parameter 'richiestaInfoListaFlussiRendicontazioneDto' when calling postInfoUsingPOST1(Async)");
        }
        

        com.squareup.okhttp.Call call = postInfoUsingPOST1Call(richiestaInfoListaFlussiRendicontazioneDto, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Servizio che restituisce una lista di Flussi di Rendicontazione nell’intervallo di date indicate.
     * Sono state predisposte delle operazioni per indicare se le date indicano Regolamento o Inserimento
     * @param richiestaInfoListaFlussiRendicontazioneDto richiestaInfoListaFlussiRendicontazioneDto (required)
     * @return RispostaInfoListaFlussiRendicontazioneDto
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RispostaInfoListaFlussiRendicontazioneDto postInfoUsingPOST1(RichiestaInfoListaFlussiRendicontazioneDto richiestaInfoListaFlussiRendicontazioneDto) throws ApiException {
        ApiResponse<RispostaInfoListaFlussiRendicontazioneDto> resp = postInfoUsingPOST1WithHttpInfo(richiestaInfoListaFlussiRendicontazioneDto);
        return resp.getData();
    }

    /**
     * Servizio che restituisce una lista di Flussi di Rendicontazione nell’intervallo di date indicate.
     * Sono state predisposte delle operazioni per indicare se le date indicano Regolamento o Inserimento
     * @param richiestaInfoListaFlussiRendicontazioneDto richiestaInfoListaFlussiRendicontazioneDto (required)
     * @return ApiResponse&lt;RispostaInfoListaFlussiRendicontazioneDto&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RispostaInfoListaFlussiRendicontazioneDto> postInfoUsingPOST1WithHttpInfo(RichiestaInfoListaFlussiRendicontazioneDto richiestaInfoListaFlussiRendicontazioneDto) throws ApiException {
        com.squareup.okhttp.Call call = postInfoUsingPOST1ValidateBeforeCall(richiestaInfoListaFlussiRendicontazioneDto, null, null);
        Type localVarReturnType = new TypeToken<RispostaInfoListaFlussiRendicontazioneDto>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Servizio che restituisce una lista di Flussi di Rendicontazione nell’intervallo di date indicate. (asynchronously)
     * Sono state predisposte delle operazioni per indicare se le date indicano Regolamento o Inserimento
     * @param richiestaInfoListaFlussiRendicontazioneDto richiestaInfoListaFlussiRendicontazioneDto (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call postInfoUsingPOST1Async(RichiestaInfoListaFlussiRendicontazioneDto richiestaInfoListaFlussiRendicontazioneDto, final ApiCallback<RispostaInfoListaFlussiRendicontazioneDto> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = postInfoUsingPOST1ValidateBeforeCall(richiestaInfoListaFlussiRendicontazioneDto, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RispostaInfoListaFlussiRendicontazioneDto>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
