/*
 * API Gateway Pagamenti
 * Set API REST PagoPA
 *
 * OpenAPI spec version: 1.0
 * Contact: pagamenti.produzione@maggioli.it
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.RichiestaScaricaFlussiAgidDto;
import io.swagger.client.model.RispostaScaricaFlussiAgidDto;
import io.swagger.client.model.StandardAPIErrorResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class FlussiAgidApi {
    private ApiClient apiClient;

    public FlussiAgidApi() {
        this(Configuration.getDefaultApiClient());
    }

    public FlussiAgidApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for postScaricaUsingPOST
     * @param filterFlussiAgid filterFlussiAgid (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call postScaricaUsingPOSTCall(RichiestaScaricaFlussiAgidDto filterFlussiAgid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = filterFlussiAgid;

        // create path and map variables
        String localVarPath = "/rest/flussiAgid/v1/scarica";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "jwtToken" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call postScaricaUsingPOSTValidateBeforeCall(RichiestaScaricaFlussiAgidDto filterFlussiAgid, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'filterFlussiAgid' is set
        if (filterFlussiAgid == null) {
            throw new ApiException("Missing the required parameter 'filterFlussiAgid' when calling postScaricaUsingPOST(Async)");
        }
        

        com.squareup.okhttp.Call call = postScaricaUsingPOSTCall(filterFlussiAgid, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Servizio che permette di scaricare i flussi AGID secondo i parametri in input
     * I campi vengono filtrati per priorità, quindi l’identificativo del flusso è il primo su cui viene filtrato, omettendo ma mettendo le date vengono interpolate per recuperare la lista dei flussi che soddisfano il filtro
     * @param filterFlussiAgid filterFlussiAgid (required)
     * @return RispostaScaricaFlussiAgidDto
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RispostaScaricaFlussiAgidDto postScaricaUsingPOST(RichiestaScaricaFlussiAgidDto filterFlussiAgid) throws ApiException {
        ApiResponse<RispostaScaricaFlussiAgidDto> resp = postScaricaUsingPOSTWithHttpInfo(filterFlussiAgid);
        return resp.getData();
    }

    /**
     * Servizio che permette di scaricare i flussi AGID secondo i parametri in input
     * I campi vengono filtrati per priorità, quindi l’identificativo del flusso è il primo su cui viene filtrato, omettendo ma mettendo le date vengono interpolate per recuperare la lista dei flussi che soddisfano il filtro
     * @param filterFlussiAgid filterFlussiAgid (required)
     * @return ApiResponse&lt;RispostaScaricaFlussiAgidDto&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RispostaScaricaFlussiAgidDto> postScaricaUsingPOSTWithHttpInfo(RichiestaScaricaFlussiAgidDto filterFlussiAgid) throws ApiException {
        com.squareup.okhttp.Call call = postScaricaUsingPOSTValidateBeforeCall(filterFlussiAgid, null, null);
        Type localVarReturnType = new TypeToken<RispostaScaricaFlussiAgidDto>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Servizio che permette di scaricare i flussi AGID secondo i parametri in input (asynchronously)
     * I campi vengono filtrati per priorità, quindi l’identificativo del flusso è il primo su cui viene filtrato, omettendo ma mettendo le date vengono interpolate per recuperare la lista dei flussi che soddisfano il filtro
     * @param filterFlussiAgid filterFlussiAgid (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call postScaricaUsingPOSTAsync(RichiestaScaricaFlussiAgidDto filterFlussiAgid, final ApiCallback<RispostaScaricaFlussiAgidDto> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = postScaricaUsingPOSTValidateBeforeCall(filterFlussiAgid, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RispostaScaricaFlussiAgidDto>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
