/*
 * API Gateway Pagamenti
 * Set API REST PagoPA
 *
 * OpenAPI spec version: 1.0
 * Contact: pagamenti.produzione@maggioli.it
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.RichiestaInfoRiconciliazioneDto;
import io.swagger.client.model.RispostaInfoRiconciliazioneDto;
import io.swagger.client.model.StandardAPIErrorResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class RiconciliazioneApi {
    private ApiClient apiClient;

    public RiconciliazioneApi() {
        this(Configuration.getDefaultApiClient());
    }

    public RiconciliazioneApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for postInfoPerFlussoVersamentoUsingPOST
     * @param richiesta richiesta (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call postInfoPerFlussoVersamentoUsingPOSTCall(RichiestaInfoRiconciliazioneDto richiesta, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = richiesta;

        // create path and map variables
        String localVarPath = "/rest/riconciliazione/v1/infoRiconciliazione";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json;charset=utf-8"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "jwtToken" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call postInfoPerFlussoVersamentoUsingPOSTValidateBeforeCall(RichiestaInfoRiconciliazioneDto richiesta, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'richiesta' is set
        if (richiesta == null) {
            throw new ApiException("Missing the required parameter 'richiesta' when calling postInfoPerFlussoVersamentoUsingPOST(Async)");
        }
        

        com.squareup.okhttp.Call call = postInfoPerFlussoVersamentoUsingPOSTCall(richiesta, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Restituisce l’elenco dei pagamenti riconciliati
     * Il metodo prevede due possibili input: flusso di rendicontazione oppure il sospeso relativo. Il risultato è il medesimo, cambia solo l’input di partenza
     * @param richiesta richiesta (required)
     * @return RispostaInfoRiconciliazioneDto
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RispostaInfoRiconciliazioneDto postInfoPerFlussoVersamentoUsingPOST(RichiestaInfoRiconciliazioneDto richiesta) throws ApiException {
        ApiResponse<RispostaInfoRiconciliazioneDto> resp = postInfoPerFlussoVersamentoUsingPOSTWithHttpInfo(richiesta);
        return resp.getData();
    }

    /**
     * Restituisce l’elenco dei pagamenti riconciliati
     * Il metodo prevede due possibili input: flusso di rendicontazione oppure il sospeso relativo. Il risultato è il medesimo, cambia solo l’input di partenza
     * @param richiesta richiesta (required)
     * @return ApiResponse&lt;RispostaInfoRiconciliazioneDto&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RispostaInfoRiconciliazioneDto> postInfoPerFlussoVersamentoUsingPOSTWithHttpInfo(RichiestaInfoRiconciliazioneDto richiesta) throws ApiException {
        com.squareup.okhttp.Call call = postInfoPerFlussoVersamentoUsingPOSTValidateBeforeCall(richiesta, null, null);
        Type localVarReturnType = new TypeToken<RispostaInfoRiconciliazioneDto>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Restituisce l’elenco dei pagamenti riconciliati (asynchronously)
     * Il metodo prevede due possibili input: flusso di rendicontazione oppure il sospeso relativo. Il risultato è il medesimo, cambia solo l’input di partenza
     * @param richiesta richiesta (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call postInfoPerFlussoVersamentoUsingPOSTAsync(RichiestaInfoRiconciliazioneDto richiesta, final ApiCallback<RispostaInfoRiconciliazioneDto> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = postInfoPerFlussoVersamentoUsingPOSTValidateBeforeCall(richiesta, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RispostaInfoRiconciliazioneDto>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
